{% assign collection = collections['all'] %}
{{collection.title}}
{% for product in collection.products %}
	<div>
 	{% for image in product.images offset:1 limit:1 %}
   <img src="{{ image.src | product_img_url: '500x' }}">
{% endfor %}
        {{product.title}}
    </div>
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

