{% assign collection = collections['all'] %}
{{collection.title}}
{% for product in collection.products %}
	<div>
 		<img src="{{ product.images| img_url: '600x' }}" loading="lazy" alt="{{ block.settings.image_2.alt }}" class="image-content__image">
        {{product.title}}
    </div>
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

