{% assign collection = collections['all'] %}
{{collection.title}}
{% for product in collection.products %}
	<div>
 		{% assign images = product.media | where: "alt", "main-image" %}
      {{ images[0] | img_tag }}
        {{product.title}}
    </div>
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

