{% assign collection = collections['all'] %}
{{collection.title}}
{% for product in collection.products %}
	<div>
 		<img src="{{product.media | img_url: '600x' }}" alt="">
        {{product.title}}
    </div>
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

